In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
dataset = pd.read_csv('multiple_dataset.csv')
dataset.shape

(38, 3)

In [3]:
dataset.head()

   Print Runs  Page numbers  Orders
0        2800            22     437
1        2670            14     204
2        2800            37     725
3        2784            15     279
4        2800            38     474

In [4]:
dataset.describe()

        Print Runs  Page numbers       Orders
count    38.000000     38.000000    38.000000
mean   1978.184211     74.000000   757.289474
std     766.802376     56.835942   676.443678
min     728.000000     14.000000    67.000000
25%    1120.750000     37.250000   267.000000
50%    2472.500000     49.000000   461.500000
75%    2620.000000    110.500000  1118.000000
max    2800.000000    249.000000  2630.000000

In [5]:
X = dataset[['Print Runs', 'Page numbers']]
y = dataset['Orders']

In [6]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

              Coefficient
Print Runs       0.205867
Page numbers    10.189679

In [9]:
y_pred = regressor.predict(X_test)

In [10]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

    Actual    Predicted
22     289   276.176650
29    1800  1404.576555
16     462   276.484724
15     388   270.412380
11     511   502.019756
20     298   239.843342
26     235   214.416618
10     882  1286.625058

In [12]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 150.46187908288385
Mean Squared Error: 46546.85749928304
Root Mean Squared Error: 215.74720739625587